  <% if @collection.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@collection.errors.count, "error") %> prohibited
      this collection from being saved:</h2>
    <ul>
    <% @collection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <p>
    <b>Publisher</b> (<%= link_to 'New', new_publisher_path %>)<br />
    <div class="field">
      <%= collection_select(:collection, :publisher_id, @publishers, :id, :name) %>
    </div>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </p>

  <p>
    <%= f.submit %>
  </p>
