<h1><%= @collection.name %>
  <tiny>
  <% if can? :update, @collection %>
    <%= link_to 'Edit', edit_collection_path(@collection), id: "edit_collection_#{@collection.id}" %> |
  <% end %>
  <% if can? :destroy, @collection %>
      <%= link_to 'Destroy', collection_path(@collection), id: "del_collection_#{@collection.id}", method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>

    <%= link_to 'Back', publishers_path %>
  </tiny>
</h1>
<h2>Publisher:
  <% if @collection.publisher %>
   <%= link_to @collection.publisher.name, publisher_path(@collection.publisher), id: "show_publisher_#{@collection.publisher.id}" %>
  <% end %>
</h2>
<h2>About</h2>
<p><%= @collection.about %></p>
<h2>List of associated items</h2>
<p>
   <% if @collection.items.any? %>
      <ul id="collection_items">
         <% @collection.items.each do |item| %>
            <li><%= link_to item.title, item %></li>
         <% end %>
      </ul>
   <% else %>
      None available
   <% end %>
</p>
