<h1><%= @illustrator.name %>
  <tiny>
  <% if can? :update, @illustrator %>
    <%= link_to 'Edit', edit_illustrator_path(@illustrator), id: "edit_illustrator_#{@illustrator.id}" %> |
  <% end %>
  <% if can? :destroy, @illustrator %>
      <%= link_to 'Destroy', illustrator_path(@illustrator), id: "del_illustrator_#{@illustrator.id}", method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>

    <%= link_to 'Back', illustrators_path %>
  </tiny>
</h1>
<h2>About</h2>
<p><%= @illustrator.about %></p>
<h2>List of associated items</h2>
<p><%= @illustrator.items.map {|i| i.title}.join(', ') %></p>
