<% if @publisher.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>
      <ul>
         <% @publisher.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>
<div class="publisher_fields">
   <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, id: "publisher_name" %>
    </div>
   <div class="field">
      <%= f.label :about %><br>
      <%= f.text_area :about, id: "about_publisher" %>
   </div>
</div>
<% if can? :create, Collection %>
   <h2>Collections</h2>
   <div class="collections_fields">
      <%= f.fields_for :collections do |collection| %>
         <div class="field">
            <%= collection.label :name %>
            <%= collection.text_field :name %>
            <% if can? :destroy, Collection %>
               <%= collection.check_box :_destroy %>
               <%= collection.label :_destroy, 'Delete' %>
            <% end %>
         </div>
         <div class="field">
            <%= collection.label :about %><br />
            <%= collection.text_area :about %>
         </div>
      <% end %>
   </div>
<% end %>

<p>
   <%= f.submit %>
</p>
