  <% if @publisher.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@publisher.errors.count, "error") %> prohibited
      this publisher from being saved:</h2>
    <ul>
    <% @publisher.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </p>

  <p>
    <%= f.submit %>
  </p>
