<div class="container">
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
        <div class="box-gutter"></div>
        <div class="box-sizer"></div>
        <% @items.each do |item| %>
        <div class="box col3">
            <div class="thumbnail">
                <a href="/items/<%= item.id %>">
                    <img alt="<%= item.title %>" src="http://placehold.it/200x200" class="thumb">
                    <div class="caption block-title">
                        <h3><%= item.title %></h3>
                        <p class="by-author"><small>By <%= item.authors_list %></small></p>
                        <p><tiny>Themes: <%= item.themes_list %></tiny></span></p>
                    </div>
                </a>
            </div>
        </div>
        <% end %>
    </div>
</div>