<div class="container">
    <div class="page-header">
        <h1>Browse items<a href="<%= url_for(new_item_path) %>" class="pull-right"><i id="add_btn" class="fa fa-plus-circle"></i></a></h1>
    </div>
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
        <div class="box-gutter"></div>
        <div class="box-sizer"></div>
        <% 2.times do %>
        <% @items.each do |item| %>
        <div class="box col3">
            <div class="thumbnail">
                <a href="/items/<%= item.id %>" id="show_item_<%= item.id %>">
                    <% if item.cover.nil? %>
                        <img alt="<%= item.title %>" src="http://placehold.it/200x200" class="thumb">
                    <% else %>
                        <%= image_tag(item.cover.url(:medium), class: "thumb", alt: item.title) %>
                    <% end %>    
<!--
                    <div class="caption block-title">
                        <h3><%= item.title %></h3>
                        <p class="by-author"><small>By <%= item.authors_list %></small></p>
                        <p><tiny>Themes: <%= item.themes_list %></tiny></span></p>
                <a id="edit_item_<%= item.id %>" class="btn btn-warning small" href="<%= edit_item_path(item) %>" role="button">Edit</a>
                <a id="del_item_<%= item.id %>" class="btn btn-danger small" href="<%= item_path(item) %>" rel="nofollow" data-method="delete" data-confirm="Are you sure?" role="button">Delete</a>

                    </div>
-->
                </a>
                
                <ul class="item-actions">
                    <!-- Start Nav Structure -->
                    <li class="cn-button" id="cn-button"><a href="#"><i class="fa fa-ellipsis-v"></i></a></li>
                    <% if can? :update, item %>
                    <% if can? :destroy, item %>
                    
                            <li class="cn-item"><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-comments"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-info"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-pencil"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-trash"></i></a></li>
                        
                    <% else %>
                    
                            <li class="cn-item"><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-comments"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-info"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-pencil"></i></a></li>
                          
                    <% end %>
                    <% else %>
                    <% if can? :destroy, item %>
                    
                            <li class="cn-item"><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-comments"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-info"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-trash"></i></a></li>
                        
                    <% else %>
                    
                            <li class="cn-item"><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li class="cn-item"><a href="#"><i class="fa fa-comments"></i></a></li>
                    <li class="cn-item"><a href="<%= url_for(item_path(item)) %>"><i class="fa fa-info"></i></a></li>
<!--                            <li class="cn-item"><a href="#"><i class="fa fa-pencil"></i></a></li>-->
                           
                    <% end %>
                    <% end %>
                    
                    <!-- End Nav Structure -->
                </ul>
            </div>
            
        </div>
        <% end %>
        <% end %>
    </div>

</div>