<!-- <div class="row">
   <div class="large-12 columns"> -->
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lison-navbar-collapse" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Lison</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="lison-navbar-collapse">
            <ul class="nav navbar-nav">
               <%= render "layouts/menu" %>
            </ul>
            <form class="navbar-form navbar-left" role="search">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search for items, authors, ..." id="main-search">
               </div>
               <button type="submit" class="btn btn-default" id="go-search">Search</button>
            </form>

            <!-- Right Nav Section -->
            <ul class="nav navbar-nav navbar-right">
               <li>
                  <% if current_user %>
                  <%= link_to "#{current_user.email} (#{current_user.roles.map {|r| r.name}.join(', ')})", edit_user_registration_path %>
                  <% else %>
                  <%= link_to "Log in", new_user_session_path %>
                  <% end %>
               </li>
               <li class="dropdown">
                  <% if current_user %>
                  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
                  <% else %>
                  <%= link_to "Sign up", new_user_registration_path %>
                  <% end %>
               </li>
            </ul>

         </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
   </nav>
<!-- </div>
</div> -->
