<li><%= link_to 'Catalog', items_path %></li>
<!-- <li class="has-dropdown">
   <a href="#">Management</a>
   <ul class="dropdown"> -->
      <li><%= link_to 'Authors', authors_path %></li>
      <li><%= link_to 'Illustrators', illustrators_path %></li>
      <li><%= link_to 'Publishers', publishers_path %></li>
      <li><%= link_to 'Collections', collections_path %></li>
      <li><%= link_to 'Themes', themes_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
   <!-- </ul>
</li> -->
