<!DOCTYPE html>
<html>
<head>
  <title>Lison</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <% if current_user %>
    <p class="welcome">Connecté: <%= current_user.email %> as <%= current_user.roles.map {|r| r.name}.join(', ') %>
    <%= link_to "Edit", edit_user_registration_path %>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %><br />
    </p>
  <% else %>
    <p class="welcome">Non connecté
      <%- if controller_name != 'sessions' %>
        <%= link_to "Log in", new_user_session_path %><br />
        <%= link_to "Sign up", new_user_registration_path %><br />
      <% end -%>
    </p>
  <% end %>
  <p>Menu : <%= link_to 'Catalog', items_path %> | <%= link_to 'Authors', authors_path %> | <%= link_to 'Illustrators', illustrators_path %> | <%= link_to 'Publishers', publishers_path %> | <%= link_to 'Collections', collections_path %> | <%= link_to 'Themes', themes_path %> | <%= link_to 'Categories', categories_path %></p>
<%= yield %>

</body>
</html>
